.checkbox {
  @import '../../scss';
  display: flex;
  align-items: center;

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .icon {
    color: var(--color-accent);
    @include setCursor();
  }

  .label {
    margin-left: 0.5rem;
    @include setCursor();
  }

  &.disabled {
    opacity: 0.5;
  }
}
