.button {
  @import '../../scss';
  @mixin baseButton() {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: row;
    flex: none;
    align-self: stretch;
    flex-grow: 0;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  @mixin size_small() {
    border: 0rem;
    height: 2.4rem;
    padding: 0rem 1.5rem;
    @include body_overline_strong();

    .btn-icon {
      margin-right: 0.5rem;
      @include setImageSize(1.5rem, 1.5rem);
    }
  }

  @mixin size_medium() {
    border-radius: 0rem;
    height: 3.6rem;
    padding: 0rem 1.8rem;
    @include body_small_strong();

    .btn-icon {
      margin-right: 0.6rem;
      @include setImageSize(1.8rem, 1.8rem);
    }
  }

  @mixin size_default() {
    border-radius: 0rem;
    height: 4.4rem;
    padding: 0rem 2.1rem;
    @include body_medium_strong();

    .btn-icon {
      margin-right: 0.7rem;
      @include setImageSize(2.1rem, 2.1rem);
    }
  }

  @mixin size_large() {
    border-radius: 0rem;
    height: 5.6rem;
    padding: 0rem 2.7rem;
    @include body_body_strong();

    .btn-icon {
      margin-right: 0.9rem;
      @include setImageSize(2.7rem, 2.7rem);
    }
  }

  @mixin type_primary() {
    border: none;
    background: var(--color-accent);
    color: var(--color-white);
    box-shadow: 0rem 0.8rem 1.6rem rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: var(--color-accent-hover);
    }
  }

  @mixin type_secondary() {
    border: 0.1rem solid var(--color-accent);
    background: var(--color-white);
    color: var(--color-accent);

    &:hover {
      color: var(--color-accent-hover);
    }
  }
  @mixin type_default() {
    border: 0.1rem solid var(--color-base);
    background: var(--color-background);
    color: var(--color-base);

    &:hover {
      color: var(--color-color-base);
    }
  }
  @include baseButton();

  &.size_small {
    @include size_small();
  }

  &.size_medium {
    @include size_medium();
  }

  &.size_default {
    @include size_default();
  }

  &.size_large {
    @include size_large();
  }

  &.type_primary {
    @include type_primary();
  }

  &.type_secondary {
    @include type_secondary();
  }
  &.type_default {
    @include type_default();
  }
}
