.slider {
  @import "../../scss";
  // outline: 0;
  // border: 0;
  border-radius: 500px;
  width: 1000px;
  max-width: 100%;
  // margin: 24px 0 16px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  // Chrome
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    & {
      -webkit-appearance: none;
      overflow: hidden;
      height: 16px;
      background-color: var(--color-base);
    }
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 16px;
      color: var(--color-base);
      // margin-top: -1px;
      transition: box-shadow 0.2s ease-in-out;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 16px;
      height: 16px;

      background: var(--color-base);
      box-shadow: -508px 0 0 500px var(--color-accent),
        inset 0 0 0 16px var(--color-accent);
      border-radius: 50%;
      transition: box-shadow 0.2s ease-in-out;
      position: relative;
      // top: 1px;
    }
    &:active::-webkit-slider-thumb {
      background: var(--color-accent);
      box-shadow: -508px 0 0 500px var(--color-accent),
        inset 0 0 0 3px var(--color-accent);
    }
  }
  // // Firefox
  // &::-moz-range-progress {
  //   background-color: #43e5f7;
  // }
  // &::-moz-range-track {
  //   background-color: #9a905d;
  // }
  // // IE
  // &::-ms-fill-lower {
  //   background-color: #43e5f7;
  // }
  // &::-ms-fill-upper {
  //   background-color: #9a905d;
  // }
}
