.label {
  @mixin baseLabel() {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @mixin defaultLabel() {
    background: transparent;
    color: var(--color-base);
  }

  @mixin primaryLabel() {
    border: none;
    background: var(--color-accent);
    color: var(--color-white);
  }

  @mixin secondaryLabel() {
    background: transparent;
    color: var(--color-accent);
  }

  @mixin dangerLabel() {
    background: transparent;
    color: var(--color-additional-error);
  }

  @include baseLabel();

  &.default {
    @include defaultLabel();
  }

  &.primary {
    @include primaryLabel();
  }

  &.secondary {
    @include secondaryLabel();
  }

  &.danger {
    @include dangerLabel();
  }
}
