.inputField {
  @import "../../scss";
  @include body_medium_regular();
  width: calc(100% - 1rem);
  background-color: var(--color-white);
  color: var(--color-base);
  border: 0.1rem solid var(--color-light-100);
  border-radius: 0.4rem;
  outline: none;
  height: 3.4rem;
  padding: 0.1rem 0.5rem;
  // &.text {

  // }
  // &.number {

  // }
  // &.email {

  // }

  &:focus {
    border: 0.18rem solid var(--color-accent);
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-light-400);
    opacity: 0.4;
  }

  // // TBR
  // box-shadow: 0px 0.2rem 0.8rem rgba(0, 0, 0, 0.04);
  // @extend .shadow-small;

  // &.is__med {
  //   // Font -  Body/Body - Regular

  //   @include toRem(height, 36);
  //   @extend .body-medium__regular;
  //   @extend .px-12;
  //   @extend .br-6;
  // }

  // &.is__large {
  //   @include toRem(height, 48);
  //   @extend .body-body__regular;
  //   @extend .pr-12, .pl-16;
  //   @extend .br-8;
  // }

  // &.is__small {
  //   // Font -  Body/Medium - Regular

  //   @include toRem(height, 36);
  // }

  // &.has__error {
  //   // error
  //   border: 0.1rem solid var(--clr-additional-error);
  // }

  // // Handeling different States
  // &:focus {
  //   // accent
  //   border: 0.1rem solid var(--color-accent);
  // }

  // &:read-only {
  //   box-shadow: none;
  //   color: var(--color-dark-900);
  //   background: transparent;
  //   border: 0.1rem solid var(--color-light);

  //   &.is__borderless {
  //     border: none;
  //   }
  // }

  // &:disabled {
  //   // background
  //   background-color: var(--color-base);
  //   border: none;
  //   color: var(--color-dark-800);
  //   opacity: 0.4;

  //   // Browsers
  //   &::placeholder {
  //     /* Chrome, Firefox, Opera, Safari 10.1+ */
  //     color: var(--color-dark-800);
  //     opacity: 0.4;
  //   }

  //   &:-ms-input-placeholder {
  //     /* Internet Explorer 10-11 */
  //     color: var(--color-dark-800);
  //     opacity: 0.4;
  //   }

  //   &::-ms-input-placeholder {
  //     /* Microsoft Edge */
  //     color: var(--color-dark-800);
  //     opacity: 0.4;
  //   }
  // }

  // // Browsers
  // &::placeholder {
  //   /* Chrome, Firefox, Opera, Safari 10.1+ */
  //   color: var(--color-light-400);
  //   opacity: 0.4;
  // }

  // &:-ms-input-placeholder {
  //   /* Internet Explorer 10-11 */
  //   color: var(--color-light-400);
  //   opacity: 0.4;
  // }

  // &::-ms-input-placeholder {
  //   /* Microsoft Edge */
  //   color: var(--color-light-400);
  //   opacity: 0.4;
  // }

  // // To be moved from here
  // &-label {
  //   color: var(--color-dark-600);
  //   text-transform: uppercase;
  //   opacity: 0.8;
  // }

  // &-required {
  //   color: var(--clr-additional-error);
  // }

  // &-error {
  //   color: var(--clr-additional-error);
  // }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
