.modal {
  @import "../../scss";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  // opacity: 0;
  // transition: all 0.3s ease-in-out;
  // pointer-events: none;

  // .children {
  //   width: 100%;
  //   color: #473e5f;
  //   float: left;
  //   margin: 0px;
  // }
  .small {
    width: 500px;
  }
  .medium {
    width: 600px;
  }
  .default {
    width: 700px;
  }
  .large {
    width: 1000px;
  }
  .header {
    // padding: 24px 24px 10px 24px;
    height: 32px;
    .title {
      font-weight: bold;
      font-size: 24px;
      // line-height: 140%;
      color: #5b5273;
      float: left;
    }
    .close {
      float: right;
      cursor: pointer;
      background-color: var(--color-additional-error);
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    // gap: 1rem;
    // margin: 24px 0;
    .button {
      width: 50%;
    }
  }

  .body {
    display: flex;
  }
  // .modal-Content {
  //   background-color: #fff;
  //   border-radius: 12px;
  //   max-height: 100vh;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  // }

  // .modal-Msg-Margin {
  //   margin: 0px 25px 10px 25px;
  // }
}
