.modal {
  @import "../../scss";
  @include flexCenter();
  background-color: rgba(0, 0, 0, 0.5);
  .disabled-true {
    opacity: 0.5;
  }
  @mixin modal {
    background-color: var(--color-surface);
    padding: 1rem;
    border-radius: 1rem;
  }
  .size-small {
    @include modal();
    width: 500px;
  }
  .size-medium {
    @include modal();
    width: 700px;
  }
  .size-default {
    @include modal();
    width: 900px;
  }
  .size-large {
    @include modal();
    width: 1200px;
  }

  .header {
    display: flex;
    justify-content: space-between;

    align-items: center;
    .title {
      @include body_body_bold();
      color: var(--color-base);
    }
    .close {
      float: right;
      cursor: pointer;
      background-color: var(--color-additional-error);
      border-radius: 0.25rem;
    }
  }
  .body {
    // display: flex;
    margin: 1rem 0rem;
    border-top: var(--color-accent) 1px solid;
    border-bottom: var(--color-accent) 1px solid;
  }
  .footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    .actionBtn {
      width: calc(50% - 0.5rem);
    }
  }
}
