.image-upload {
  @import '../../scss';
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .image-detail {
    @include body_small_regular();
    display: flex;
    flex-direction: column;

    .action-btns {
      display: flex;
      justify-content: space-between;

      .upload-btn {
        width: calc(100% - 3.4rem);
      }

      .clear-btn {
        margin-left: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        color: var(--color-additional-error);
        cursor: pointer;
      }
    }
  }

  .preview {
    height: 0px;
    width: 0px;
  }

  .drop-zone {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed var(--color-accent);
    transition: transform 0.3s;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;

    .image-label {
      @include body_small_regular();
      text-align: center;
      text-decoration-line: underline;
      background-color: var(--color-white);
      color: var(--color-black);
    }

    .image-input {
      position: absolute;
      height: 0px;
      width: 0px;
      opacity: 0;
      top: 0;
      left: 0;
    }

    .draging {
      transform: scale(1.1);
    }
  }
}
